.inputWrapper {
    margin-bottom: 15px;
  }
  
  .label {
    font-size: 14px;
    color: var(--font-color-dark);
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
  