:root {
    --primary-color: #101828;
    --secondary-color: #E44848;
    --accent-color: #FFC531;
    --light-gray: #DADDE1;
    --background-color: #F7F7F7;
    --white-color: #FFFFFF;
    --font-color-dark: #6C717B;
  }
  