/* Reviews.module.css */

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 0px;
}



.reviewItem {

  border-radius: 8px;

  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}
.reviewerBox {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}



.reviewerAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background-color: #e0e0e0;
}

.reviewerName {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.reviewRating {
  margin-left: 8px;
  color: #f39c12;
  font-size: 14px;
}

.reviewText {
  margin-top: 8px;
  color: #666;
  line-height: 1.6;
  font-size: 14px;
}

.reviewerDetails {
  display: flex;
  flex-direction: column;
}

.reviewerHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
