/* Catalog.module.css */

.container {
  padding: 118px 170px;
  background-color: white;
  margin: 0 auto;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.rvCardsSection {
  display: grid;
  gap: 20px;
}

/* Load More Button */
.loadMoreButton {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
  display: block;
}

.loadMoreButton:hover {
  background-color: #f0f0f0;
}

/* Loading Text */
.loadingText {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
