.header {
  background-color: var(--background-color);
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 24px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  
}



.logo {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 64px;
  color: #000;
}

.trucks {
  font-weight: normal;
}

.nav {
  margin: 0 auto;
  display: flex;
}

.navLink {
  margin-left: 30px; /* Add equal spacing between links */
  color: #101828; /* Darker color for better contrast */
  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  color: #D84343; /* Brighter hover color */
}

.active {
  color: #E44848; /* Same active link color across all pages */
  font-size: 16px;
  margin-left: 30px; /* Add equal spacing between links */
}

 
