.header {
  background-color: var(--background-color);
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 24px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  display: block;
}

.trucks {
  font-weight: bold;
  color: rgb(71, 84, 103);
}

.travel {
  font-weight: bold;
  color: rgb(16, 24, 40);
}

.nav {
  margin: 0 auto;
  display: flex;
}

.navLink {
  margin-left: 30px;
  color: #101828;
  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  color: #d84343;
}

.active {
  color: #e44848;
  font-size: 16px;
  margin-left: 30px;
}

.content {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 16px;
  align-items: center;
  padding: 24px 0;
}
