/* BookingForm.module.css */
.bookingForm {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #c4c3c3;
  }
  
  .bookingForm h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .bookingForm p {
    font-size: 14px;
    color: #666;
  }
  
  .bookingForm input,
  .bookingForm textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .bookingForm button {
    padding: 12px 20px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .bookingForm button:hover {
    background-color: #ff6b81;
  }
  