.tabs {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0;
  border-bottom: 1px solid #e0e0e0;
}

.tab {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #333;
  position: relative;
  font-weight: bold;
  transition: color 0.3s ease;
}

.tab:not(:last-child) {
  margin-right: 20px;
}

.activeTab {
  font-weight: bold;
  outline: 0px auto -webkit-focus-ring-color;
  display: block;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
  position: relative;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #ff4757;
}
