.detailsContainer {
  margin: auto;
  background-color: #fff;
  color: black;
}

.flexContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 44px 0 80px;
  align-items: flex-start;
  gap: 40px;
}

.featuresContainer,
.reviewsContainer {
  flex: 1;
  margin-right: 20px;
}

.camperDescription {
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin: 0px;
}
.camperTopInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0px 60px;
}
