/* CamperInfo.module.css */
.infoLine {
    font-size: 14px;
    margin-bottom: 10px;
    
  }
  
  h2 {
    color: black;
  }
  
  
  .rvCard__info {
    display: flex;
    justify-content: flex-start; /* Aligns both reviews and location to the left */
    margin-top: 10px; /* Space between header and info */
}

.rvCard__reviews,
.rvCard__location {
    font-size: 14px; /* Size for reviews and location */
    color: black; /* Set reviews and location color to black */
    margin-right: 10px; /* Space between reviews and location */
}
