.infoLine {
  font-size: 14px;
  margin-bottom: 10px;
}

.infoTitle {
  margin-right: auto;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

h2 {
  color: black;
}

.rvCard__info {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.rvCard__reviews {
  font-size: 14px;
  color: black;
  margin-right: 10px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.rvCard__location {
  font-size: 16px;
  color: black;
  margin-right: 10px;
}

.rating {
  color: #ffc531;
}

.price {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 0px;
}
